.titulos {
    color: #000000; /* Color azul */
    margin-bottom: 15px;
    text-align: center; /* Centrar los títulos */
    border-bottom: 2px solid #000000; /* Línea debajo */
    padding-bottom: 10px;
}

.texto {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 15px; /* Espaciado lateral */
    text-align: justify; /* Justificar el texto */
}
